
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color:white
}

body {
 
  margin: 0;
}

header {
  

  color: rgb(230, 6, 6);
  padding: 15px;
  text-align: center;
}

.create-post {
  background: rgb(131, 130, 130);
  
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
}

.create-post textarea {
  color : black;
    background-image:url("E:/internship/PRODIGY_FSWD_05/image/2.jpg");
  background-size: cover;

  
  width: 50%;
  height: 200px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.create-post input,
.create-post button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
}

.create-post button:hover {
  background-color: #d70303;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.feed {
  
  margin: 15px;
  

}

.post {
  background: rgb(123, 123, 123);
  padding:15px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.post img,
.post video {
  width: 50%;
  margin-top: 10px;
  border-radius: 6px;
}

.tags {
 
  margin-top: 5px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 10px;
  cursor: pointer;
}

.comments {
  color:black;
  
  margin-top: 10px;
}

.comments input {
  
  width:100%;
  padding:5px;


}