* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #008080;
}

body {
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #87cceb;
  color: white;
  padding: 15px;
  text-align: center;
}

.create-post {
  background: #c4d8c2;
  
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
}

.create-post textarea {
  
  width: 100%;
  height: 80px;
  padding: 10px;
}

.create-post input,
.create-post button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
}

.create-post button {
  background: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.feed {
  margin: 15px;
}

.post {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.post img,
.post video {
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
}

.tags {
  color: #4a90e2;
  margin-top: 5px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 10px;
  cursor: pointer;
}

.comments {
  margin-top: 10px;
}

.comments input {
  width: 100%;
  padding: 5px;
}